<table>
    <thead>
        <tr>
            <th>#</th>
            <th>Name</th>
            <th>RX Freq</th>
            <th>TX Freq</th>
            <th>RX Tone</th>
            <th>TX Tone</th>
            <th>TX Power</th>
            <th>Groups</th>
            <th>Bandwidth</th>
            <th>Modulation</th>
            <th>Position</th>
            <th>PTT ID</th>
            <th>Reversed</th>
            <th>Busy Lock</th>
        </tr>
    </thead>
    <tbody>
        {% for channel in parsed.memoryChannels %}
        <tr>
            <td>{{ loop.index }}</td>
            <td>{{ channel.name.decode('ascii', errors='replace') }}</td>
            <td>{{ "%.5f"|format(channel.rxFreq/100000) }}</td>
            <td>{{ "%.5f"|format(channel.txFreq/100000) }}</td>
            <td>{{ channel.rxSubTone }}</td>
            <td>{{ channel.txSubTone }}</td>
            <td>{{ channel.txPower }}</td>
            <td>{{ format_group_letters(channel.groups.value) }}</td>
            <td>{{ channel.bits.bandwidth }}</td>
            <td>{{ channel.bits.modulation }}</td>
            <td>{{ channel.bits.position }}</td>
            <td>{{ channel.bits.pttID }}</td>
            <td>{{ channel.bits.reversed }}</td>
            <td>{{ channel.bits.busyLock }}</td>
        </tr>
        {% endfor %}
    </tbody>
</table>